.footer{
    padding: 100px 0;
    &-content{
        display: flex;
        justify-content: space-between;
        gap: 40px;
        @media(max-width: 592px){
            flex-wrap: wrap;
        }
    }
    &-logo{
        &__item{
            margin-bottom: 20px
        }
        &__link{
            display: flex;
            gap: 13px;
        }
    }
    &-link{
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__item{
            &-text{
                font-weight: 400;
                font-size: 17px;
                line-height: 27px;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}